/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]


    withName: FASTQC {
        ext.args = '--quiet'
    }


    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    withName: 'CUTADAPT' {
        ext.args = [
            "-g ${params.r1_5_primer}",
            "-G ${params.r2_5_primer}",
            "-a ${params.r1_3_primer}",
            "-A ${params.r2_3_primer}",
            "--minimum-length ${params.minimum_length}",
            "-q ${params.quality_cutoff}"
        ].join(' ')


        publishDir = [
            path: { "${params.outdir}/cutadapt" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'CUTADAPT_SUMMARY' {
        publishDir = [
            path: { "${params.outdir}/cutadapt" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'ITSXPRESS' {
        ext.args = [
            "--region ${params.region}",
            "--taxa ${params.taxa}"
        ].join(' ')


        publishDir = [
            path: { "${params.outdir}/itsxpress" },
            mode: params.publish_dir_mode
        ]
    }


    withName: 'VSEARCH_MERGEPAIRS' {
        ext.args = [
            "--fastq_minovlen ${params.fastq_minovlen}",
            "--fastq_maxdiffs ${params.fastq_maxdiffs}",
            "--fastq_maxdiffpct ${params.fastq_maxdiffpct}",
            params.fastq_allowmergestagger ? "--fastq_allowmergestagger" : ""
        ].join(' ')


        publishDir = [
            path: { "${params.outdir}/vsearch/mergepairs" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'VSEARCH_MERGEPAIRS_SUMMARY' {
        publishDir = [
            path: { "${params.outdir}/vsearch/mergepairs" },
            mode: params.publish_dir_mode
        ]
    }


    withName: 'VSEARCH_QUALITY_FILTERING' {
        ext.args = [
            "--fastq_maxee ${params.fastq_maxee}",
            "--fastq_truncqual ${params.fastq_truncqual}"
        ].join(' ')


        publishDir = [
            path: { "${params.outdir}/vsearch/quality_filtering" },
            mode: params.publish_dir_mode
        ]
    }


    withName: 'QIIME2_IMPORT' {
        ext.args = [
            "--type ${params.sequence_with_quality}",
            "--input-format ${params.input_format}"
        ].join(' ')


        publishDir = [
            path: { "${params.outdir}/qiime2/import" },
            mode: params.publish_dir_mode
        ]
    }


    withName: 'QIIME2_DEREPLICATE' {
        publishDir = [
            path: { "${params.outdir}/qiime2/dereplicate" },
            mode: params.publish_dir_mode
        ]
    }


    withName: 'QIIME2_VSEARCH_UCHIME_DENOVO' {
        publishDir = [
            path: { "${params.outdir}/qiime2/uchime_denovo" },
            mode: params.publish_dir_mode
        ]
    }


    withName: 'QIIME2_FILTERING_FEATURE' {
        ext.args = [
            params.ff_exclude_ids ? "--p-exclude-ids" : ""
        ].join(' ')


        publishDir = [
            path: { "${params.outdir}/qiime2/filtering_feature" },
            mode: params.publish_dir_mode
        ]
    }


    withName: 'QIIME2_FILTER_SEQUENCE' {
        ext.args = [
            params.fs_exclude_ids ? "--p-exclude-ids" : ""
        ].join(' ')


        publishDir = [
            path: { "${params.outdir}/qiime2/filtering_sequence" },
            mode: params.publish_dir_mode
        ]
    }


    withName: 'QIIME2_CLUSTER_FEATURE' {
        ext.args = [
            "--p-perc-identity ${params.perc_identity}"
        ].join(' ')


        publishDir = [
            path: { "${params.outdir}/qiime2/cluster_feature" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'QIIME2_VISUALIZATION' {
        publishDir = [
            path: { "${params.outdir}/qiime2/visualitzation" },
            mode: params.publish_dir_mode
        ]
    }

}
